In [3]:
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np

df = pd.read_csv('NetFlix.csv')
df_0 = pd.read_csv('NetFlix.csv')

In [4]:
df_0

,show_id,type,title,director,cast,country,date_added,release_year,rating,duration,genres,description
0,s1,TV Show,3%,NaN,"João Miguel, Bianca Comparato, Michel Gomes, R...",Brazil,14-Aug-20,2020,TV-MA,4,"International TV Shows, TV Dramas, TV Sci-Fi &...",In a future where the elite inhabit an island ...
1,s10,Movie,1920,Vikram Bhatt,"Rajneesh Duggal, Adah Sharma, Indraneil Sengup...",India,15-Dec-17,2008,TV-MA,143,"Horror Movies, International Movies, Thrillers",An architect and his wife move into a castle t...
2,s100,Movie,3 Heroines,Iman Brotoseno,"Reza Rahadian, Bunga Citra Lestari, Tara Basro...",Indonesia,5-Jan-19,2016,TV-PG,124,"Dramas, International Movies, Sports Movies",Three Indonesian women break records by becomi...
3,s1000,Movie,Blue Mountain State: The Rise of Thadland,Lev L. Spiro,"Alan Ritchson, Darin Brooks, James Cade, Rob R...",United States,1-Mar-16,2016,R,90,Comedies,New NFL star Thad buys his old teammates' belo...
4,s1001,TV Show,Blue Planet II,NaN,David Attenborough,United Kingdom,3-Dec-18,2017,TV-G,1,"British TV Shows, Docuseries, Science & Nature TV",This sequel to the award-winning nature series...
...,...,...,...,...,...,...,...,...,...,...,...,...
7782,s995,TV Show,Blown Away,NaN,NaN,Canada,12-Jul-19,2019,TV-14,1,"International TV Shows, Reality TV",Ten master artists turn up the heat in glassbl...
7783,s996,TV Show,Blue Exorcist,NaN,"Nobuhiko Okamoto, Jun Fukuyama, Kana Hanazawa,...",Japan,1-Sep-20,2017,TV-MA,2,"Anime Series, International TV Shows",Determined to throw off the curse of being Sat...
7784,s997,Movie,Blue Is the Warmest Color,Abdellatif Kechiche,"Léa Seydoux, Adèle Exarchopoulos, Salim Kechio...","France, Belgium, Spain",26-Aug-16,2013,NC-17,180,"Dramas, Independent Movies, International Movies","Determined to fall in love, 15-year-old Adele ..."
7785,s998,Movie,Blue Jasmine,Woody Allen,"Cate Blanchett, Sally Hawkins, Alec Baldwin, L...",United States,8-Mar-19,2013,PG-13,98,"Comedies, Dramas, Independent Movies",The high life leads to high anxiety for a fash...
7786,s999,Movie,Blue Jay,Alex Lehmann,"Sarah Paulson, Mark Duplass, Clu Gulager",United States,6-Dec-16,2016,TV-MA,81,"Dramas, Independent Movies, Romantic Movies",Two former high school sweethearts unexpectedl...

In [5]:
df_0.head()

,show_id,type,title,director,cast,country,date_added,release_year,rating,duration,genres,description
0,s1,TV Show,3%,NaN,"João Miguel, Bianca Comparato, Michel Gomes, R...",Brazil,14-Aug-20,2020,TV-MA,4,"International TV Shows, TV Dramas, TV Sci-Fi &...",In a future where the elite inhabit an island ...
1,s10,Movie,1920,Vikram Bhatt,"Rajneesh Duggal, Adah Sharma, Indraneil Sengup...",India,15-Dec-17,2008,TV-MA,143,"Horror Movies, International Movies, Thrillers",An architect and his wife move into a castle t...
2,s100,Movie,3 Heroines,Iman Brotoseno,"Reza Rahadian, Bunga Citra Lestari, Tara Basro...",Indonesia,5-Jan-19,2016,TV-PG,124,"Dramas, International Movies, Sports Movies",Three Indonesian women break records by becomi...
3,s1000,Movie,Blue Mountain State: The Rise of Thadland,Lev L. Spiro,"Alan Ritchson, Darin Brooks, James Cade, Rob R...",United States,1-Mar-16,2016,R,90,Comedies,New NFL star Thad buys his old teammates' belo...
4,s1001,TV Show,Blue Planet II,NaN,David Attenborough,United Kingdom,3-Dec-18,2017,TV-G,1,"British TV Shows, Docuseries, Science & Nature TV",This sequel to the award-winning nature series...

In [6]:
df_0.notnull().sum()

show_id         7787
type            7787
title           7787
director        5398
cast            7069
country         7280
date_added      7777
release_year    7787
rating          7780
duration        7787
genres          7787
description     7787
dtype: int64

In [7]:
df_0 = df_0.dropna().reset_index(drop=True)

In [8]:
df_0.notnull().sum()

show_id         4808
type            4808
title           4808
director        4808
cast            4808
country         4808
date_added      4808
release_year    4808
rating          4808
duration        4808
genres          4808
description     4808
dtype: int64

In [9]:
df_0.head()

,show_id,type,title,director,cast,country,date_added,release_year,rating,duration,genres,description
0,s10,Movie,1920,Vikram Bhatt,"Rajneesh Duggal, Adah Sharma, Indraneil Sengup...",India,15-Dec-17,2008,TV-MA,143,"Horror Movies, International Movies, Thrillers",An architect and his wife move into a castle t...
1,s100,Movie,3 Heroines,Iman Brotoseno,"Reza Rahadian, Bunga Citra Lestari, Tara Basro...",Indonesia,5-Jan-19,2016,TV-PG,124,"Dramas, International Movies, Sports Movies",Three Indonesian women break records by becomi...
2,s1000,Movie,Blue Mountain State: The Rise of Thadland,Lev L. Spiro,"Alan Ritchson, Darin Brooks, James Cade, Rob R...",United States,1-Mar-16,2016,R,90,Comedies,New NFL star Thad buys his old teammates' belo...
3,s1002,Movie,Blue Ruin,Jeremy Saulnier,"Macon Blair, Devin Ratray, Amy Hargreaves, Kev...","United States, France",25-Feb-19,2013,R,90,"Independent Movies, Thrillers",Bad news from the past unhinges vagabond Dwigh...
4,s1003,Movie,Blue Streak,Les Mayfield,"Martin Lawrence, Luke Wilson, Peter Greene, Da...","Germany, United States",1-Jan-21,1999,PG-13,94,"Action & Adventure, Comedies",A jewel thief returns to his hiding place afte...

In [10]:
df_0

,show_id,type,title,director,cast,country,date_added,release_year,rating,duration,genres,description
0,s10,Movie,1920,Vikram Bhatt,"Rajneesh Duggal, Adah Sharma, Indraneil Sengup...",India,15-Dec-17,2008,TV-MA,143,"Horror Movies, International Movies, Thrillers",An architect and his wife move into a castle t...
1,s100,Movie,3 Heroines,Iman Brotoseno,"Reza Rahadian, Bunga Citra Lestari, Tara Basro...",Indonesia,5-Jan-19,2016,TV-PG,124,"Dramas, International Movies, Sports Movies",Three Indonesian women break records by becomi...
2,s1000,Movie,Blue Mountain State: The Rise of Thadland,Lev L. Spiro,"Alan Ritchson, Darin Brooks, James Cade, Rob R...",United States,1-Mar-16,2016,R,90,Comedies,New NFL star Thad buys his old teammates' belo...
3,s1002,Movie,Blue Ruin,Jeremy Saulnier,"Macon Blair, Devin Ratray, Amy Hargreaves, Kev...","United States, France",25-Feb-19,2013,R,90,"Independent Movies, Thrillers",Bad news from the past unhinges vagabond Dwigh...
4,s1003,Movie,Blue Streak,Les Mayfield,"Martin Lawrence, Luke Wilson, Peter Greene, Da...","Germany, United States",1-Jan-21,1999,PG-13,94,"Action & Adventure, Comedies",A jewel thief returns to his hiding place afte...
...,...,...,...,...,...,...,...,...,...,...,...,...
4803,s991,Movie,Blood Will Tell,"Miguel Cohan, Miguel Cohan","Oscar Martínez, Dolores Fonzi, Diego Velázquez...","Argentina, United States",21-Jun-19,2019,TV-MA,113,"Dramas, Independent Movies, International Movies",Family patriarch Elías begins to unravel after...
4804,s994,Movie,Blow,Ted Demme,"Johnny Depp, Penélope Cruz, Franka Potente, Ra...",United States,1-Oct-19,2001,R,123,Dramas,Cocaine smuggler George rises from poverty to ...
4805,s997,Movie,Blue Is the Warmest Color,Abdellatif Kechiche,"Léa Seydoux, Adèle Exarchopoulos, Salim Kechio...","France, Belgium, Spain",26-Aug-16,2013,NC-17,180,"Dramas, Independent Movies, International Movies","Determined to fall in love, 15-year-old Adele ..."
4806,s998,Movie,Blue Jasmine,Woody Allen,"Cate Blanchett, Sally Hawkins, Alec Baldwin, L...",United States,8-Mar-19,2013,PG-13,98,"Comedies, Dramas, Independent Movies",The high life leads to high anxiety for a fash...
4807,s999,Movie,Blue Jay,Alex Lehmann,"Sarah Paulson, Mark Duplass, Clu Gulager",United States,6-Dec-16,2016,TV-MA,81,"Dramas, Independent Movies, Romantic Movies",Two former high school sweethearts unexpectedl...

In [11]:
df_0.head(2)

,show_id,type,title,director,cast,country,date_added,release_year,rating,duration,genres,description
0,s10,Movie,1920,Vikram Bhatt,"Rajneesh Duggal, Adah Sharma, Indraneil Sengup...",India,15-Dec-17,2008,TV-MA,143,"Horror Movies, International Movies, Thrillers",An architect and his wife move into a castle t...
1,s100,Movie,3 Heroines,Iman Brotoseno,"Reza Rahadian, Bunga Citra Lestari, Tara Basro...",Indonesia,5-Jan-19,2016,TV-PG,124,"Dramas, International Movies, Sports Movies",Three Indonesian women break records by becomi...

In [12]:
df_0['country'].unique()

array(['India', 'Indonesia', 'United States', 'United States, France',
       'Germany, United States', 'Canada',
       'Denmark, Sweden, Israel, United States', 'United Kingdom',
       'Spain', 'United States, Iceland', 'Colombia', 'Germany',
       'United Arab Emirates, United Kingdom, India', 'New Zealand',
       'Netherlands', 'Egypt', 'Philippines', 'United Kingdom, Russia',
       'Denmark, France, Poland', 'Lebanon', 'Canada, United States',
       'Brazil', 'Poland', 'Bulgaria, United States',
       'India, United Kingdom', 'United States, Canada, Ireland',
       'Canada, United Kingdom', 'Japan',
       'United States, Israel, Italy, South Africa', 'France, Belgium',
       'Hong Kong', 'Australia', 'Kenya', 'South Korea', 'France',
       'Turkey', 'China', 'India, United States', 'Indonesia, Singapore',
       'South Korea, Japan',
       'Philippines, Canada, United Kingdom, United States',
       'France, Malta, United States', 'Kuwait', 'Belgium, France',
       'Norway', 'Argentina', 'Nigeria', 'United Kingdom, Pakistan',
       'Mexico, United States', 'Italy', 'United States, United Kingdom',
       'Ireland', 'Mexico', 'United Kingdom, United States, Australia',
       'United States, Mexico', 'United States, Canada',
       'United Kingdom, Czech Republic, United States, Germany, Bahamas',
       'South Africa', 'United States, Australia', 'Romania', 'Pakistan',
       'New Zealand, United Kingdom', 'Germany, Sri Lanka',
       'United States, Sweden', 'South Africa, United States',
       'United Kingdom, United States', 'United States, Germany',
       'Canada, United States, Cayman Islands', 'Hong Kong, China',
       'India, France', 'United States, India, Bangladesh',
       'United States, Canada, France',
       'Taiwan, China, France, United States', 'Thailand',
       'Brazil, France, Germany', 'Turkey, France, Germany, Poland',
       'United States, United Kingdom, Australia',
       'Germany, United States, Hong Kong, Singapore',
       'France, Germany, Switzerland', 'Mexico, Argentina',
       'Germany, France, Luxembourg, United Kingdom, United States',
       'Canada, United States, United Kingdom',
       'United Kingdom, Canada, Italy', 'Vietnam', 'United States, China',
       'Zimbabwe', 'China, Hong Kong', 'Malaysia',
       'Taiwan, Hong Kong, United States, China', 'China, United States',
       'Hungary', 'Taiwan', 'United States, India', 'Germany, Australia',
       'United Kingdom, Poland, United States',
       'United States, United Kingdom, France',
       'France, South Korea, Japan', 'Sweden', 'Bulgaria',
       'Philippines, United States', 'United States, Thailand',
       'United States, Bulgaria',
       'Spain, Belgium, Switzerland, United States, China, United Kingdom',
       'Netherlands, Denmark, South Africa', 'Argentina, Spain',
       'France, Egypt', 'United Kingdom, South Africa',
       'Finland, Sweden, Norway, Latvia, Germany',
       'United Kingdom, India', 'Denmark',
       'South Africa, United States, New Zealand, Canada',
       'France, Qatar', 'France, Algeria',
       'United States, Italy, United Kingdom, Liechtenstein',
       'Norway, Iceland, United States',
       'Denmark, France, Belgium, Italy, Netherlands, United States, United Kingdom',
       'India, Germany', 'United States, Australia, Mexico',
       'United Kingdom, Czech Republic, Germany, United States',
       'United States, Germany, Canada', 'Russia, Poland, Serbia',
       'France, China, Japan, United States', 'Germany, Belgium',
       'Chile, Argentina', 'China, United States, United Kingdom',
       'Pakistan, Norway, United States',
       'United Kingdom, Japan, United States',
       'France, Netherlands, Singapore', 'Philippines, Singapore',
       'United States, Canada, Belgium, United Kingdom', 'Venezuela',
       'Argentina, Uruguay, Serbia', 'Colombia, Peru, United Kingdom',
       'Canada, Spain, France', 'United States, Japan',
       'Hong Kong, United States', 'France, Canada, China, Cambodia',
       'United States, Indonesia', 'Spain, France',
       'Spain, Mexico, France', 'Spain, France, Italy',
       'United Kingdom, Spain, United States',
       'United Arab Emirates, United States',
       'Spain, France, United States', 'Chile', 'Singapore',
       'United Arab Emirates', 'Italy, France',
       'United Kingdom, Canada, United States', 'Cambodia, United States',
       'China, Japan',
       'United Arab Emirates, United States, United Kingdom',
       'Italy, Switzerland, Albania, Poland', 'Iran, France',
       'United States, Brazil', 'United States, France, Mexico',
       'United States, Nicaragua',
       'United Kingdom, France, Belgium, United States, China',
       'United Arab Emirates, Jordan, Lebanon',
       'France, United Kingdom, United States',
       'United Kingdom, United States, Spain, Germany, Greece, Canada',
       'Argentina, Brazil, France, Poland, Germany, Denmark',
       'France, Belgium, Luxembourg, Cambodia,', 'Italy, Turkey',
       'Brazil, France', 'Russia', 'India, Turkey',
       'United States, Italy', 'Kenya, United States',
       'United States, South Korea', 'South Korea, United States',
       'Japan, United States', 'Israel, United States',
       'Italy, Canada, France', 'Thailand, United States',
       'United Kingdom, Denmark, Canada, Croatia', 'Netherlands, Belgium',
       'United Kingdom, Canada, United States, Cayman Islands',
       'Uruguay, Argentina, Spain',
       'United States, France, United Kingdom, Japan',
       'United States, United Kingdom, Denmark, Sweden',
       'United States, United Kingdom, Italy',
       'United States, France, Canada, Spain', 'Uruguay, Guatemala',
       'United States, United Kingdom, Japan',
       'United States, United Kingdom, Canada', 'Singapore, France',
       'Italy, Switzerland, France, Germany',
       'Russia, United States, China', 'United States, Canada, Germany',
       'Ireland, United States', 'United States, United Arab Emirates',
       'Hong Kong, China, United States',
       'Lebanon, United Arab Emirates, France, Switzerland, Germany',
       'United States, South Korea, Japan', 'Romania, United States',
       'United States, Ireland', 'United States, South Africa', 'Poland,',
       'Slovenia, Croatia, Germany, Czech Republic, Qatar', 'Peru',
       'United Kingdom, United States, France',
       'Indonesia, United Kingdom',
       'United Kingdom, United States, France, Germany',
       'United States, Spain, Germany', 'India, Japan',
       'Switzerland, France, Belgium, United States',
       'United Kingdom, France, Belgium',
       'Canada, Ireland, United States',
       'United Kingdom, United States, Dominican Republic',
       'Serbia, United States', 'Turkey, United States',
       'Germany, United Kingdom, United States',
       'United States, Canada, United Kingdom',
       'United Kingdom, Germany, Canada', 'Argentina, France',
       'South Africa, Germany, Netherlands, France', 'Cambodia',
       'Spain, Portugal', 'Australia, France',
       'Hong Kong, Iceland, United States',
       'Ireland, United States, France', 'Austria',
       'Germany, United States, Canada',
       'United Kingdom, Germany, Canada, United States',
       'United States, France, Canada, Lebanon, Qatar',
       'Indonesia, Netherlands', 'United States, Chile',
       'Netherlands, Belgium, United Kingdom, United States',
       'China, United States, Australia',
       'France, Belgium, China, United States', 'Spain, United Kingdom',
       'United States, Chile, Israel', 'Bangladesh',
       'United Kingdom, Norway, Denmark, Germany, Sweden',
       'Norway, Denmark, Sweden', 'China, India, Nepal',
       'Colombia, Mexico, United States', 'Nigeria, United Kingdom',
       'United Kingdom, South Korea', 'United States, Taiwan',
       'Netherlands, Belgium, Germany, Jordan', 'France, Canada',
       'United Kingdom, France, United States',
       'United States, Philippines', 'United States, Greece, Brazil',
       'France, United States', 'Canada, South Africa',
       'Uruguay, Argentina', 'United Kingdom, Italy',
       'Germany, United Kingdom', 'Egypt, Algeria',
       'Argentina, Chile, Peru', 'United States, Russia',
       'Australia, United States', 'Uruguay', 'Israel',
       'United States, China, Hong Kong', 'United Kingdom, France',
       'Soviet Union, India', 'Canada, Germany, France, United States',
       'Saudi Arabia', 'France, United Kingdom, India', 'China, Taiwan',
       'Poland, West Germany', 'Canada, Spain',
       'United Kingdom, France, Belgium, United States', 'France, Japan',
       'United States, Cambodia', 'United States, Greece',
       'Ireland, United Kingdom, United States',
       'Czech Republic, United States', 'United States, China, Colombia',
       'Spain, Italy', 'United States, Spain, Italy',
       'Norway, United Kingdom, France, Ireland',
       'United States, Bermuda, Ecuador', 'United Kingdom, Poland',
       'China, Canada, United States', 'United States, Spain', 'Iceland',
       'India, Mexico', 'Pakistan, United States',
       'Israel, Sweden, Germany, Netherlands',
       'Chile, United States, France', 'France, Morocco',
       'United Kingdom, Germany', 'United Kingdom, France, Germany',
       'Georgia, Germany, France', 'Switzerland, France',
       'Turkey, South Korea',
       'Chile, Argentina, France, Spain, United States',
       'United States, Nigeria', 'Germany, United States, France',
       'United Kingdom, United States, Japan',
       'United States, India, South Korea, China',
       'United Kingdom, Canada',
       'Denmark, Germany, Belgium, United Kingdom, France',
       'Denmark, Germany, Belgium, United Kingdom, France, Sweden',
       'France, Switzerland, Spain, United States, United Arab Emirates',
       'Spain, Germany', 'Denmark, Brazil, France, Portugal, Sweden',
       'Brazil, India, China, United States', 'India, Germany, Austria',
       'Italy, United States', 'Canada, Luxembourg',
       'Denmark, France, United States, Sweden', 'Australia, Iraq',
       'China, Morocco, Hong Kong', 'Spain, Colombia',
       'Australia, United Arab Emirates',
       'Canada, United States, Germany', 'France, Belgium, Italy',
       'United Kingdom, Thailand', 'France, Luxembourg, Canada',
       'India, Nepal', 'Mexico, Spain', 'Colombia, Mexico',
       'France, Germany, Czech Republic, Belgium',
       'Germany, China, United Kingdom', 'Canada, Hungary, United States',
       'Pakistan, United Arab Emirates',
       'Spain, United Kingdom, United States', 'United Kingdom, Kenya',
       'South Africa, Nigeria', 'United States, Norway, Canada',
       'Switzerland, Vatican City, Italy, Germany, France',
       'Portugal, France, Poland, United States', 'Ghana',
       'India, Switzerland', 'Canada, India',
       'Canada, Japan, United States', 'United States, Morocco',
       'Canada, Nigeria', 'Iceland, Sweden, Belgium',
       'Singapore, Japan, France',
       'Canada, Mexico, Germany, South Africa',
       'United Kingdom, United States, Canada',
       'Germany, France, United States, Canada, United Kingdom',
       'Peru, Germany, Norway', 'Singapore, Malaysia', 'Ireland, Canada',
       'India, Canada', 'Ireland, Canada, United Kingdom, United States',
       'China, Spain, South Korea, United States',
       'United States, Germany, Australia', 'Spain, Belgium',
       'Israel, Germany, France', 'Australia, France, Ireland',
       'South Africa, Angola', 'Austria, Czech Republic',
       'Australia, India',
       'United Kingdom, Canada, United States, Germany',
       'Brazil, Netherlands, United States, Colombia, Austria, Germany',
       'United States, United Kingdom, Canada, Japan',
       'Sweden, United Kingdom, Finland', 'Hong Kong, Taiwan',
       'United States, United Kingdom, Spain, South Korea',
       'South Korea, China, United States', 'Guatemala',
       'Portugal, Spain', 'United States, United Kingdom, Canada, China',
       'South Africa, United States, Germany',
       'United States, Germany, United Kingdom, Australia',
       'India, Soviet Union', 'Italy, France, Switzerland',
       'Canada, France, United States', 'India, Malaysia',
       'Switzerland, United States', 'Thailand, Canada, United States',
       'France, Canada, Belgium', 'China, Hong Kong, United States',
       'United Kingdom, New Zealand',
       'United Kingdom, France, Germany, United States',
       'South Korea, Czech Republic',
       'Czech Republic, United Kingdom, France',
       'Australia, United Kingdom, Canada',
       'India, United Kingdom, China, Canada, Japan, South Korea, United States',
       'Canada, United Kingdom, United States', 'United States, Hungary',
       'Jamaica, United States', 'Australia, United Kingdom',
       'United Kingdom, France, Canada, Belgium, United States',
       'Denmark, United Kingdom, Sweden',
       'Indonesia, South Korea, Singapore',
       'Lebanon, United States, United Arab Emirates',
       'United States, Hong Kong',
       'Argentina, France, United States, Germany, Qatar',
       'United States, Germany, United Kingdom',
       'United States, Germany, United Kingdom, Italy',
       'United States, New Zealand, United Kingdom',
       'Finland, United States', 'Spain, France, Uruguay',
       'France, Belgium, United States', 'France, Canada, United States',
       'Switzerland', 'Spain, Argentina', 'France, Senegal, Belgium',
       'United Kingdom, India, United States', 'Chile, France',
       'United States, United Kingdom, France, Germany, Japan',
       'Canada, Norway', 'United States, Canada, China',
       'United Kingdom, Malawi',
       'Ireland, Canada, Luxembourg, United States, United Kingdom, Philippines, India',
       'United States, Czech Republic, United Kingdom',
       'Ghana, United States', 'Israel, Germany', 'Spain, Mexico',
       'Mexico, France', 'Romania, France, Switzerland, Germany',
       'Poland, United States',
       'France, Belgium, Luxembourg, Romania, Canada, United States',
       'Israel, Germany, Poland, Luxembourg, Belgium, France, United States',
       'United States, Malta, France, United Kingdom',
       'United Kingdom, United States, Germany, Denmark, Belgium, Japan',
       'Austria, United States',
       'United Kingdom, France, Belgium, Canada, United States',
       'Argentina, Chile', 'Czech Republic, Slovakia',
       'Bulgaria, United States, Spain, Canada',
       'United Kingdom, Germany, United States, France',
       'United Kingdom, Lithuania', 'Egypt, France',
       'Spain, France, Canada', 'United States, Greece, United Kingdom',
       'United Kingdom, China, United States, India',
       'Sweden, Netherlands', 'Taiwan, Malaysia',
       'United States, Sweden, Norway',
       'United Kingdom, United States, Morocco',
       'United States, United Kingdom, Morocco',
       'United States, China, Canada', 'Spain, Canada, United States',
       'Canada, Belgium', 'United States, India, United Arab Emirates',
       'United Kingdom, Canada, France, United States',
       'Spain, Thailand, United States', 'Ireland, United Kingdom',
       'United States, Israel, United Kingdom, Canada',
       'United Kingdom, Hungary, Australia', 'Lebanon, France',
       'Belgium, Ireland, Netherlands, Germany, Afghanistan',
       'Chile, Peru', 'Paraguay, Argentina',
       'United Kingdom, Italy, Israel, Peru, United States',
       'Norway, Germany', 'France, Canada, Italy, United States, China',
       'Netherlands, Germany, Denmark, United Kingdom', 'France, Lebanon',
       'Ireland, United Kingdom, Greece, France, Netherlands',
       'New Zealand, United States', 'Argentina, Uruguay, Spain, France',
       'United Kingdom, Germany, United States',
       'United States, Australia, South Africa, United Kingdom',
       'Italy, Belgium', 'United States, Germany, Mexico',
       'Chile, Spain, Argentina, Germany',
       'France, United States, Mexico', 'United Kingdom, Nigeria',
       'Belgium, United Kingdom, United States', 'Spain, Switzerland',
       'Indonesia, United States', 'Canada, South Korea, United States',
       'France, Iran, United States', 'United States, Czech Republic',
       'Somalia, Kenya, Sudan, South Africa, United States',
       'Ireland, France, Iceland, United States, Mexico, Belgium, United Kingdom, Hong Kong',
       'Spain, United States', 'United States, Canada, Japan, Panama',
       'United Kingdom, Spain, Belgium', 'Serbia, South Korea, Slovenia',
       'Denmark, United Kingdom, South Africa, Sweden, Belgium',
       'Australia, United Kingdom, United Arab Emirates, Canada',
       'Germany, Canada, United States', 'United States, France, Japan',
       'Ireland, South Africa', 'Canada, Germany',
       'India, United Kingdom, Canada, United States',
       'United States, Belgium, Canada',
       'United States, France, Canada, Belgium',
       'United Kingdom, Egypt, United States',
       'Hong Kong, China, Singapore',
       'United Kingdom, Germany, United Arab Emirates, New Zealand',
       'United Kingdom, France, United States, Belgium, Luxembourg, China, Germany',
       'United Kingdom, Spain, United States, Germany',
       'United States, France, Italy, United Kingdom',
       'United States, United Kingdom, India', 'Belgium',
       'Singapore, United States',
       'New Zealand, United Kingdom, Australia',
       'United Arab Emirates, Romania',
       'United Kingdom, Australia, Canada, United States',
       'Mexico, Netherlands', 'Spain, Italy, Argentina',
       'United Kingdom, China, United States',
       'United Kingdom, Brazil, Germany',
       'Thailand, China, United States',
       'Canada, United States, India, United Kingdom',
       'France, Lebanon, United Kingdom',
       'United Kingdom, Jordan, Qatar, Iran',
       'Switzerland, United Kingdom, United States',
       'United Kingdom, Germany, France, United States',
       'United States, United Kingdom, Germany', 'Lebanon, Qatar',
       'United Kingdom, India, Sweden', 'United Kingdom, Belgium',
       'India, Pakistan',
       'Saudi Arabia, Netherlands, Germany, Jordan, United Arab Emirates, United States',
       'France, Brazil, Spain, Belgium',
       'United Kingdom, Ireland, United States', 'India, Australia',
       'United States, Argentina', 'France, Norway, Lebanon, Belgium',
       'United Kingdom, France, United States, Belgium',
       'Saudi Arabia, United Arab Emirates',
       'Germany, United States, United Kingdom, Canada',
       'Uruguay, Argentina, Germany, Spain', 'Lebanon, Canada, France',
       'France, Luxembourg, United States', 'Romania, Bulgaria, Hungary',
       'United States, East Germany, West Germany',
       'Norway, Denmark, Netherlands, Sweden',
       'Egypt, Austria, United States', 'Namibia',
       'Croatia, Slovenia, Serbia, Montenegro', 'Mexico, Finland',
       'United Arab Emirates, Jordan',
       'Sweden, Czech Republic, United Kingdom, Denmark, Netherlands',
       'Australia, Canada', 'United Kingdom, Ireland',
       'Uruguay, Spain, Mexico',
       'United States, Canada, Indonesia, United Kingdom, China, Singapore',
       'India, Iran', 'South Africa, China, United States',
       'Turkey, India', 'Philippines, Qatar',
       'Ireland, Luxembourg, Belgium', 'Russia, United States',
       'United Kingdom, Russia, United States',
       'United States, France, Serbia', 'Germany, Jordan, Netherlands',
       'Argentina, United States', 'France, Belgium, Spain'], dtype=object)

## Error handeling in invalid dates

In [13]:
df_0['date_added'] = pd.to_datetime(df_0['date_added'], format="%Y-%m-%d", errors='ignore')

C:\Users\Admin\AppData\Local\Temp\ipykernel_1912\3402794531.py:1: FutureWarning: errors='ignore' is deprecated and will raise in a future version. Use to_datetime without passing `errors` and catch exceptions explicitly instead
  df_0['date_added'] = pd.to_datetime(df_0['date_added'], format="%Y-%m-%d", errors='ignore')

In [14]:
df_0.head(30)

,show_id,type,title,director,cast,country,date_added,release_year,rating,duration,genres,description
0,s10,Movie,1920,Vikram Bhatt,"Rajneesh Duggal, Adah Sharma, Indraneil Sengup...",India,15-Dec-17,2008,TV-MA,143,"Horror Movies, International Movies, Thrillers",An architect and his wife move into a castle t...
1,s100,Movie,3 Heroines,Iman Brotoseno,"Reza Rahadian, Bunga Citra Lestari, Tara Basro...",Indonesia,5-Jan-19,2016,TV-PG,124,"Dramas, International Movies, Sports Movies",Three Indonesian women break records by becomi...
2,s1000,Movie,Blue Mountain State: The Rise of Thadland,Lev L. Spiro,"Alan Ritchson, Darin Brooks, James Cade, Rob R...",United States,1-Mar-16,2016,R,90,Comedies,New NFL star Thad buys his old teammates' belo...
3,s1002,Movie,Blue Ruin,Jeremy Saulnier,"Macon Blair, Devin Ratray, Amy Hargreaves, Kev...","United States, France",25-Feb-19,2013,R,90,"Independent Movies, Thrillers",Bad news from the past unhinges vagabond Dwigh...
4,s1003,Movie,Blue Streak,Les Mayfield,"Martin Lawrence, Luke Wilson, Peter Greene, Da...","Germany, United States",1-Jan-21,1999,PG-13,94,"Action & Adventure, Comedies",A jewel thief returns to his hiding place afte...
5,s1004,Movie,Blue Valentine,Derek Cianfrance,"Ryan Gosling, Michelle Williams, Faith Wladyka...",United States,5-Jul-18,2010,R,112,"Dramas, Independent Movies, Romantic Movies",As Cindy and Dean muddle through their languis...
6,s1005,Movie,BluffMaster!,Rohan Sippy,"Abhishek Bachchan, Priyanka Chopra, Riteish De...",India,8-Jan-21,2005,TV-14,129,"Comedies, International Movies, Romantic Movies",When his girlfriend learns the truth about his...
7,s1009,Movie,Bo Burnham: Make Happy,"Bo Burnham, Christopher Storer",Bo Burnham,United States,3-Jun-16,2016,TV-MA,60,"Music & Musicals, Stand-Up Comedy",Combining his trademark wit and self-deprecati...
8,s101,Movie,3 Idiots,Rajkumar Hirani,"Aamir Khan, Kareena Kapoor, Madhavan, Sharman ...",India,1-Aug-19,2009,PG-13,164,"Comedies, Dramas, International Movies",While attending one of India's premier college...
9,s1010,Movie,Bo Burnham: what.,"Bo Burnham, Christopher Storer",Bo Burnham,United States,1-Jul-18,2013,TV-MA,60,Stand-Up Comedy,Left brain and right brain duke it out – and u...
10,s1012,Movie,Bob Lazar: Area 51 & Flying Saucers,Jeremy Kenyon Lockyer Corbell,Robert Lazar,United States,18-Jun-19,2018,TV-MA,97,Documentaries,"Decades ago, Bob Lazar blew the whistle on Are..."
11,s1014,Movie,Bob's Broken Sleigh,Jay Surridge,"Cole Howard, Bruce Greenwood, Victor Garber, M...",Canada,17-Dec-15,2015,TV-G,47,Children & Family Movies,"An overly eager elf improves Santa's sleigh, b..."
12,s1015,Movie,Bobbi Jene,Elvira Lind,Bobbi Jene Smith,"Denmark, Sweden, Israel, United States",1-Jun-18,2017,TV-MA,99,Documentaries,This candid profile follows dancer Bobbi Jene ...
13,s1016,Movie,Bobbleheads The Movie,Kirk Wise,"Jennifer Coolidge, Karen Fukuhara, Khary Payto...",United States,8-Dec-20,2020,PG,83,"Children & Family Movies, Comedies",A team of bobbleheads band together to defend ...
14,s1017,Movie,Bobby,Raj Kapoor,"Rishi Kapoor, Dimple Kapadia, Pran, Prem Nath,...",India,31-Dec-19,1973,TV-14,168,"Classic Movies, Dramas, International Movies","Raj, the son of strict, wealthy parents, falls..."
15,s1018,Movie,Bobby Jasoos,Samar Shaikh,"Vidya Balan, Ali Fazal, Supriya Pathak, Tanvi ...",India,31-Dec-20,2014,TV-14,116,"Comedies, Dramas, International Movies",With unlimited determination and zero field ex...
16,s1020,Movie,Bobby Robson: More Than a Manager,"Gabriel Clarke, Torquil Jones",Bobby Robson,United Kingdom,1-Dec-18,2018,TV-14,99,"Documentaries, International Movies, Sports Mo...",Explore the life and times of legendary soccer...
17,s1023,Movie,Bodyguard,Siddique,"Salman Khan, Kareena Kapoor, Raj Babbar, Asran...",India,19-Nov-20,2011,TV-14,130,"Action & Adventure, Comedies, International Mo...","Irked by her bodyguard, an heiress invents a s..."
18,s1024,Movie,Bogda,Nisheeta Keni,"Suhas Joshi, Mrunmayee Deshpande, Rohit Kokate...",India,16-Jul-19,2018,TV-PG,161,"Dramas, International Movies",An aspiring dancer accompanies her terminally ...
19,s1025,Movie,Boi,Jorge M. Fontana,"Bernat Quintana, Adrian Pang, Andrew Lua, Rach...",Spain,26-Jul-19,2018,TV-MA,111,"Dramas, Independent Movies, International Movies",A young chauffeur who's at a crossroads in his...
20,s1028,Movie,Bokeh,"Geoffrey Orthwein, Andrew Sullivan","Maika Monroe, Matt O'Leary, Arnar Jónsson, Gun...","United States, Iceland",22-Jun-17,2017,TV-14,92,"Dramas, Independent Movies, Sci-Fi & Fantasy",After learning they are the sole survivors of ...
21,s1029,TV Show,Bolívar,"Luis Alberto Restrepo, Andrés Beltrán, Jaime Rayo","Luis Gerónimo Abreu, José Ramón Barreto, Ernes...",Colombia,21-Jun-19,2019,TV-MA,1,"International TV Shows, Romantic TV Shows, Spa...",This dramatization depicts the life – and love...
22,s103,Movie,3 Türken & ein Baby,Sinan Akkuş,"Kostja Ullmann, Eko Fresh, Kida Khodr Ramadan,...",Germany,15-Dec-16,2015,TV-MA,93,"Comedies, International Movies",The lives of three dissatisfied brothers runni...
23,s1030,Movie,Bollywood Calling,Nagesh Kukunoor,"Om Puri, Pat Cusick, Navin Nischol, Perizaad Z...",India,15-Apr-19,2001,TV-MA,102,"Comedies, Dramas, International Movies",A down-and-out Hollywood actor is utterly unpr...
24,s1031,Movie,Bolt,"Byron Howard, Chris Williams","John Travolta, Miley Cyrus, Susie Essman, Mark...",United States,22-Jul-18,2008,PG,99,"Children & Family Movies, Comedies","This tale follows German shepherd Bolt, a cani..."
25,s1032,Movie,Bomb Scared,Borja Cobeaga,"Javier Cámara, Julián López, Miren Ibarguren, ...",Spain,12-Oct-17,2017,TV-MA,89,"Comedies, Independent Movies, International Mo...","In this dark comedy, a dysfunctional group of ..."
26,s1033,Movie,Bombairiya,Pia Sukanya,"Radhika Apte, Siddhant Kapoor, Akshay Oberoi, ...","United Arab Emirates, United Kingdom, India",15-Mar-19,2018,TV-MA,108,"Comedies, Dramas, International Movies","A PR agent trying to find her stolen phone, a ..."
27,s1034,Movie,Bombay Talkies,"Anurag Kashyap, Dibakar Banerjee, Karan Johar,...","Rani Mukerji, Randeep Hooda, Saqib Saleem, Naw...",India,5-Jul-20,2013,TV-MA,123,"Dramas, International Movies","A gay man deals with his sexuality, a struggli..."
28,s1035,Movie,Bombshell,Riccardo Pilizzeri,"Ande Cunningham, Mark Mitchinson, Mia Pistoriu...",New Zealand,1-Oct-16,2016,TV-MA,86,Dramas,"In 1985, when a vessel protesting nuclear test..."
29,s1036,Movie,Bombshell: The Hedy Lamarr Story,Alexandra Dean,Hedy Lamarr,United States,31-May-18,2017,TV-14,89,Documentaries,An unearthed audio interview of Hollywood icon...

## Basic inspections

In [15]:
df_0.shape

(4808, 12)

In [16]:
df.duplicated().sum()

np.int64(0)

In [17]:
df['country'].unique()[:20]

array(['Brazil', 'India', 'Indonesia', 'United States', 'United Kingdom',
       'United States, France', 'Germany, United States', 'Canada',
       'Japan', 'Thailand', nan, 'Denmark, Sweden, Israel, United States',
       'Ireland, United Kingdom', 'Spain', 'United States, Iceland',
       'Colombia', 'Germany',
       'United Arab Emirates, United Kingdom, India', 'New Zealand',
       'Netherlands'], dtype=object)